<%- include('partials/header'); %>

<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="postTitle">Title</label>
    <input class='form-control' type="text" name="postTitle" autocomplete="off" autofocus required>
    <label for="postBody">Post</label>
    <textarea class='form-control' name="postBody" rows="5" required></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Publish</button>
</form>


<%- include('partials/footer'); %>
